BUILD_CONFIGURATION=Debug
ASPNETCORE_ENVIRONMENT=Development

POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=*****

POSTGRES_APP_DB=family_chat_sso
POSTGRES_APP_USER=familychat_app
POSTGRES_APP_PASSWORD=*****

SSO_HTTP_PORT=8080
POSTGRES_LOCAL_PORT=5432
NGINX_LOCAL_PORT=80